*{
    text-align: center;
    font-family:serif;
}
h1{
    font-size: 50px;
}
header{
border:brown;
border-style: groove;
background-color: burlywood;
}
header img{
width: 300px;
height: 200;
}

ul li {
display: inline-block;
margin-left: 50px;
margin-right: 50px;
font-size: 25px;
font-weight: bold;
}
main{
    border:brown;
    border-style: groove;
    background-color: burlywood;
    margin-top:  15px;
}
p{
    font-weight: bold;
    font-size: 30px;
}
main img{
width: 350px;
height: 200px;
margin-left: 10px;
margin-right: 10px;
}
footer{
    border:brown;
    border-style: groove;
    background-color: burlywood;
    margin-top:  15px;

    }
    footer ul li{
        display: inline-block;
    }

    table{
        border: solid 1px grey;
margin: auto;
font-size: 20px;    
    }
    table tr th{
        border: solid 1px black;
        width:  60px;
    }
    table tr td{
        border: solid 1px black;
        width:  60px;
        padding: 10px;
    }
    legend{
        font-size:30px ;
    }
    form {
        font-weight: bold;
        font-size: 22px;
        margin: 10px;
    }
    #submit{ 
        padding-left: 45px;
        padding-right: 45px;
        padding-top: 10px;
        padding-bottom: 10px;
font-weight: bold;
font-size: 16px;
background-color: rgb(184, 180, 180);

    }
    #parent{
        text-align: center;
    }
    #footer{
        font-weight: bold; 
    font-size: 28px;
    
    }